body {
    background: #000;
    font-family: sans-serif;
    color: rgb(200, 200, 200);
}

* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.wrap {
    top: 50vh;
    translate: 0 -50%;
    position: relative;

    padding: 5%;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 1px rgb(25, 25, 25) solid;

    text-align: center;
}

.wrap * {
    margin: 5px;
}

h2 {
    font-weight: 100;
    font-size: large;
    color: rgb(129, 129, 129);
}

button {
    padding: 10px;
}

.barfg,
.barbg {
    width: 30vw;
    height: 10px;
    position: relative;
    border-radius: 5px;
}

/* bar background */
.barbg {
    z-index: 99;
    background: transparent;
    border: 1px solid rgb(36, 36, 36);
}

/* bar forground */
.barfg {
    width: 0%;
    height: 10px;
    animation: load 1.2s ease-out;
    background: rgb(108, 110, 174);
    translate: 1px calc(-100% - 1px - 5px);
}


svg {
    padding: 5px;
    transition: 200ms;
}
svg:hover {
    border-radius: 10px;
    background: rgb(25, 25, 25);
}

a {
    transition: 1s;
    width: max-content;
    text-decoration: none;
    color: rgb(108, 110, 174);
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid rgb(108, 110, 174);
}

@keyframes load {
    0% {
        width: 100%;
    }
}