body {
    background: #000;
    color: rgb(200, 200, 200);
    font-family: sans-serif;
}

* {
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
}

.wrap {
    position: relative;
    top: 50vh;
    translate: 0 -50%;

    margin: auto;
    width: fit-content;
    height: fit-content;
    /* fixa färg pls*/
    /* background: rgb(10, 10, 10); */
    border-radius: 10px;
    border: 1px rgb(25, 25, 25) solid;
    padding: 5%;

    text-align: center;
}

.wrap * {
    margin: 5px;
}

h2 {
    font-weight: 100;
    font-size: large;
    color: rgb(129, 129, 129);
}

button {
    padding: 10px;
}

.barfg,
.barbg {
    position: relative;
    width: 30vw;
    height: 10px;
    border-radius: 5px;
}

.barbg {
    background: rgb(10, 10, 10);
    border: 1px solid rgb(36, 36, 36);
}

.barfg {
    background: rgb(108, 110, 174);
    height: 10px;
    width: 0%;
    translate: 1px calc(-100% - 1px - 5px);
    animation: load 1.2s ease-out;
}


svg {
    padding: 5px;
    transition: 200ms;
}
svg:hover {
    border-radius: 10px;
    background: rgb(25, 25, 25);
}

@keyframes load {
    0% {
        width: 100%;
    }
}