html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: white;
    overflow-x: hidden;
    background-size: cover;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url("src/bg.jpg");
}

body * {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
}

.logo {
    flex: 80;
}

nav {
    flex: 20;
    width: 100%;
    z-index: 99;
    display: flex;
    position: relative;
    align-items: flex-end;
}

nav * {
    font-size: 20px;
    margin: 1rem 2rem;
}


.logo img {
    width: 75px;
    color: rgba(255, 255, 255, .75);
}

nav a {
    transition: 1s;
    font-weight: 100;
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, .75);
}

header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    position: absolute;
    align-items: center;
}

header h1 {
    font-size: 200px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 52px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .75);
}


main {
    /* styling */
    left: 0;
    top: 100vh;
    width: 100vw;
    position: relative;
    height: fit-content;
    background: black;
    -moz-box-shadow:      0 0 300px 300px black;
    -webkit-box-shadow:   0 0 300px 300px black;
    box-shadow:           0 0 300px 300px black;


    /* grid */
    grid-template: auto/repeat(20, 1fr);
}

#desc {
    margin: 15%;
    padding-top: 5%;
    color: rgb(200, 200, 200);
}

#grid-header {
    margin: 0 25%;
    color: rgb(108, 110, 174);
}

.grid {
    display: flex;
    padding: 1rem;
    margin: 20px 25%;
    border-radius: 20px;
    color: rgb(200, 200, 200);
    border: 1px solid rgb(25, 25, 25);
}

.grid-child {
    margin: 1rem;
}

.grid img {
    border-radius: 20px;
}

.grid a {
    transition: 1s;
    width: max-content;
    text-decoration: none;
    color: rgb(108, 110, 174);
    border-bottom: 2px solid transparent;
}

.grid a:hover {
    border-bottom: 2px solid rgb(108, 110, 174);
}


footer {
    left: 0;
    margin: 0;
    color: white;
    padding: 2% 10%;
    margin-top: 10%;
    width: calc(100vw - 2%*2);
    background: rgb(10, 10, 10);
    border-top: 1px solid rgb(25, 25, 25);
}

.links {
    width: 40%;
    margin: 0 20%;
    display: flex;
    align-items: center;
}

footer ul {
    flex: 1;
    padding: 2rem;
    display: block;
    text-align: center;

    list-style: none;
    color: rgb(200, 200, 200);
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    transition: 200ms;
    color: rgb(200, 200, 200);
}

footer ul li a:hover {
    color: rgb(108, 110, 174);
}

@media screen and (max-width: 920px) {
    header,
    nav {
        display: none;
    }

    main {
        top: 0;
    }

    .grid {
        display: grid;
        margin: 20px 5%;
        grid-template: auto auto / auto;
    }
}